
@{
    ViewBag.Title = "AgregarCarrito";
}

<h2>Carrito</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            double total = 0;
            double subtotal = 0;
        }
        @if (Session["carrito"] != null)
        {
            foreach (var item in Session["carrito"] as List<ASF.Entities.CartItem>)
            {
                total += (double)(item.Quantity * item.Price);
                subtotal = (double)(item.Quantity * item.Price);
                <tr>
                    <td>@item.Descripcion</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@string.Format("{0:C}", subtotal)</td>
                    <td>@Html.ActionLink("Eliminar", "Borrar", "CartItem", new {  @area = "CartItems", Id = item.ProductId }, null)</td>
                </tr>
            }

        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3">Total</th>
            <th>@string.Format("{0:C}",total)</th>
        </tr>
    </tfoot>
</table>
@Html.ActionLink("Seguir Comprando", "Index3", "Product", new { @area = "Products" },null ) | @Html.ActionLink("Terminar Compra", "FinalizaCompra", "CartItem", null,null)

